section{
    margin-top: 170px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.content-container{
    flex: 1;
    padding-right: 10px;
    margin-left: 60px;
}
.hero-image-container{
    flex: 1.5;
    margin-top: -80px;
    margin-left: 100px;
    margin-right: 50px;
}
.title{
    color: white;
    font-size: 30px;
    width: 250px;
}
.line{
    margin-bottom: 30px;
    width: 250px;
    margin-left: 0;
}
.description{
    color: white;
    font-size: 13px;
    width: 320px;
}
.hero-image{
    width: 90%;
    height: 80vh;
}
@media(min-width:1001px){
    .hero-image{
        width: 90%;
        height: 70vh;
    }
    .content-container{
        margin-top: 50px;
    }
    .title{
        font-size: 3vw;
    }
}
@media(max-width:1000px) and (min-width:850px){
.hero-image{
width: 100%;
height: 70vh;
}
.hero-image-container{
margin-left: 50px;
}
.content-container{
    margin-top: 30px;
}
}
@media(max-width:849px){
.hero-image{
width: 90%;
height: 50vh;
}
.hero-image-container{
margin-left: 10px;
margin-right: 5px;
flex: 2;
}
.content-container{
    flex: 1;
    margin-left: 10px;
}
}